@guavus:registry=http://artifacts.guavus.mtl:80/api/npm/npm-local/
@kiwik:registry=http://artifacts.guavus.mtl:80/api/npm/npm-local/
//artifacts.guavus.mtl:80/api/npm/npm-local/:_password=QUtDcDJWNm5YYXpMNmJENU1TTTl1cVlhR3VCOTROZmRRSmpEbW5DaDVWTE5qMnlVUmZ2RUJiUlFBTEtwRzQzMWZNaFVzYndoRg==
//artifacts.guavus.mtl:80/api/npm/npm-local/:username=bot-ui-team
//artifacts.guavus.mtl:80/api/npm/npm-local/:email=damien.dube@guavus.com
//artifacts.guavus.mtl:80/api/npm/npm-local/:always-auth=true
