<div class="grid-container">

  <div class="menu-list">
    <div class="tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#a" data-toggle="tab"><span class="glyphicon glyphicon-folder-open"></span></a></li>
        <li><a href="#b" data-toggle="tab"><span class="glyphicon glyphicon-hdd"></span></a></li>
        <li><a href="#d" data-toggle="tab"><span class="glyphicon glyphicon-time"></span></a></li>
        <li><a href="#f" data-toggle="tab"><span class="glyphicon glyphicon-cog"></span></a></li>
      </ul>
    </div><!-- /tabbable -->
  </div>
  <div class="menu-window"></div>
  <div class="editor">
  </div>

</div>

