<div class="grid-container">

  <div class="menu-list">
    <div style="margin-top: -50px;">
      <img height="50px" src="assets/images/reflexLogo2.png">
    </div>
    <div class="tabs-left">
      <ul class="nav nav-tabs">
        <li class="home active" (click)="navTabClick('tree-content')"><a href="#" data-toggle="tab"><span class="glyphicon glyphicon-folder-open"></span></a></li>
        <li class="node" (click)="navTabClick('node-content')" ><a href="#" data-toggle="tab"><span class="glyphicon glyphicon-hdd"></span></a></li>
        <li (click)="navTabClick('history-content')" ><a href="#" data-toggle="tab"><span class="glyphicon glyphicon-time"></span></a></li>
        <li (click)="navTabClick('settings-content')" ><a href="#" data-toggle="tab"><span class="glyphicon glyphicon-cog"></span></a></li>
      </ul>
    </div><!-- /tabbable -->
  </div>
  <div class="menu-window">

    <div class="tree-content" style="padding-top:10px">

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="search" matInput placeholder="Search" (search)="onSearch($event)">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
      <div style="width: 100%; height: 600px;overflow: scroll;">
          <tree #treeComponent [tree]="tree" [settings]="treeSettings" (nodeSelected)="handleSelected($event)"></tree>
      </div>


    </div>

    <div class="node-content">
      <div>Node List</div>
      <ul class="nav node-list">
        <li style="cursor: pointer" (click)="nodeTabClick('192.168.152.19')"><a><span >192.168.152.19</span></a></li>
        <li style="cursor: pointer"  (click)="nodeTabClick('192.168.152.20')" ><a><span >192.168.152.20</span></a></li>
        <li style="cursor: pointer" (click)="nodeTabClick('192.168.152.21')" ><a><span >192.168.152.21</span></a></li>
        <li style="cursor: pointer" (click)="nodeTabClick('192.168.152.22')" ><a><span >192.168.152.22</span></a></li>
      </ul>
    </div>
    <div class="history-content">
      <ul>
        <li *ngFor="let historyItem of historyData">{{ historyItem.title}}</li>
      </ul>
    </div>
    <div class="settings-content">
      <span>Settings</span>
    </div>
  </div>
  <div class="editor">
    <div class="editor-container">
      <div id="background">
        <div id="console">
          <textarea rows="5" class="consoletext" id="consoletext" disabled></textarea>
          <textarea rows="1" class="textinput2" id="textinput" (keyup)="checkInput($event);" [(ngModel)]="cmdInputModel"></textarea>
        </div>
      </div>
      <div class="output-conatiner">
        <label>Output</label>
        <textarea id="output" rows="10" wrap="hard" disabled>
              </textarea>
      </div>
    </div>
  </div>

</div>
